{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center mx-auto vh-100">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header" style="background-color: grey;">
                    <h1 class="mb-0 text-center" style="color: #fff;">Edit Item</h1>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="col-md-6 align-items-center">
                            {{ form.as_table }}
                            </div>
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-primary">Edit Item</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}