{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- NavBar -->
<!-- NavBar -->
<!-- NavBar -->
<nav class="navbar navbar-light bg-light justify-content-between p-2">
    <a class="navbar-brand">
        <h1>{{application}}</h1>
    </a>
    <a href="{% url 'main:logout' %}">
        <button class="btn btn-danger" my-2 my-sm-0>
            Logout
        </button>
    </a>
</nav>

<!-- Content Section -->
<div class="m-2 d-flex flex-column align-items-center justify-content-center">
    <h2 class="mb-4 text-center"> Selamat Datang, {{name}} dari {{class}}!</h2>
    <!-- <img src="{% static 'img/admin/seratus.jpg' %}" alt="seratus"> -->
    <table id="item_table" class="table table-striped table-bordered"></table>
    <!-- <table class=" table table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
        <tbody>
        {% for items in item %}
            <tr>
                <td>{{items.name}}</td>
                <td>{{items.amount}}</td>
                <td>{{items.description}}</td>
                <td>
                    <a href="{% url 'main:edit_item' items.pk %}" class="btn btn-danger btn-sm">
                        <button>
                            Edit
                        </button>
                    </a>
                    <a href="{% url 'main:delete_item' items.pk %}" class="btn btn-danger btn-sm">
                          <button>
                              Delete
                          </button>
                      </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->
    <h6 class="text-center">Sesi terakhir login: {{ last_login }}</h6>
    <br />
    
    <a href="{% url 'main:create_item' %}">
        <button class="btn btn-success">
            Add New Item
        </button>
    </a>
    <div class="modal fade text-black" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Item</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="amount" class="col-form-label">Amount:</label>
                            <input type="number" class="form-control" id="amount" name="amount"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add
                        Item</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add Item by AJAX
    </button>
</div>
<script>
    async function getItems() {
        return fetch("{% url 'main:get_item_json' %}").then((res) => res.json())
    }

    async function refreshItems() {
        document.getElementById("item_table").innerHTML = ""
        const items = await getItems()
        let htmlString = `<tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>`
        items.forEach((item) => {
            htmlString += `\n<tr>
            <td>${item.fields.name}</td>
            <td>${item.fields.amount}</td>
            <td>${item.fields.description}</td>
            <td>
                <div class="btn-group" role="group">
                    <a href="edit-item/${item.pk}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="delete/${item.pk}" class="btn btn-danger btn-sm">Delete</a>
                </div>
            </td>
        </tr>`
        })

        document.getElementById("item_table").innerHTML = htmlString
    }
    refreshItems()

    function addItem() {
        fetch("{% url 'main:add_item_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshItems)

        document.getElementById("form").reset()
        return false
    }

    document.getElementById("button_add").onclick = addItem
</script>
{% endblock content %}
