{% extends 'base.html' %}

{% block content %}
    <h1>{{application}}</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>


<table>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for items in item %}
        <tr>
            <td>{{items.name}}</td>
            <td>{{items.amount}}</td>
            <td>{{items.description}}</td>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_item' %}">
    <button>
        Add New Item
    </button>
</a>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>
<h5>Sesi terakhir login: {{ last_login }}</h5>


{% endblock content %}
